
<h2><%= @movie.title %> </h2>
<img src="<%=@movie.poster%>">
  <h3> Runtime </h3>
    <p> <%= @movie.runtime %> </p>
  <h3> Actors/Actresses </h3>
    <p> <%= @movie.actors%> </p>
  <h3> Produced By </h3>
    <p> <%= @movie.production %> </p>
  <h3> Director </h3>
    <p> <%= @movie.director %> </p>
  <h3> Writers </h3>
    <p> <%= @movie.writer %> </p>
  <h3> Plot </h3>
    <p> <%= @movie.plot %> </p>
  <h3> Awards </h3>
    <p> <%= @movie.awards %> </p>
  <h3> Genre </h3>
    <p> <%= @movie.genre %> </p>
  <h3> Box Office Stats </h3>
    <p> <%= @movie.box_office %> </p>


